.vscode/
stronghold/.vscode/
.idea/
stronghold/.idea/
stronghold/target/
TODO.md
stronghold/src/main/database/users.db
stronghold/src/main/database/users.json
stronghold/src/main/database/stay-logged-in.txt
stronghold/src/main/database/chatdata.json